@import "tailwindcss";

@theme {
  --color-phim-yellow: #eab308;
  --color-admin-bg: #0B0F19;
  --color-admin-panel: rgba(17, 24, 39, 0.7);
  --color-admin-border: rgba(255, 255, 255, 0.08);
  --color-admin-primary: #f43f5e;
  --color-admin-primary-glow: rgba(244, 63, 94, 0.4);
  --color-admin-hover: #2563EB;
  --color-admin-text: #E2E8F0;
  --color-admin-muted: #94A3B8;
  
  --font-sans: "Inter", sans-serif;
  
  --animate-fade-in: fadeIn 0.3s ease-out;
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

.safelist {
    @apply text-red-500 text-yellow-500 text-blue-500 text-green-500 text-purple-500;
    @apply bg-red-500 bg-yellow-500 bg-blue-500 bg-green-500 bg-purple-500;
    @apply translate-x-0 translate-x-[100%];
}
